body {
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  font-family: Arial, sans-serif;
}

h2 {
  margin-top: 20px;
}

ul ul {
  list-style-type: circle;
  margin-left: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
